#######################################################################
# Fox Feeder MMU - Helper & Utility Macros
#######################################################################
#
# Toolhead-specific utility macros: tip forming, purge positioning,
# and nozzle cleaning. These are independent of the MMU lane system
# and can be customized for your specific toolhead/printer setup.
#
#######################################################################


# ==================== Tip Forming ====================

[gcode_macro FORM_TIP]
description: Form a clean filament tip for reliable retraction
gcode:
  SAVE_GCODE_STATE NAME=FORMTIPSTATE
  G91
  G0 E-22 F3600
  G0 E22.4 F3600
  G0 E-22 F3600
  G0 E2 F300
  G0 E-2.1 F300
  G0 E2 F300
  G0 E-2.2 F300
  G0 E2 F300
  G0 E-2.3 F300
  G0 E2 F300
  G0 E-2.4 F300
  G0 E2 F300
  G0 E-2.5 F300
  G0 E2 F300
  G0 E-33 F300
  G90
  RESTORE_GCODE_STATE NAME=FORMTIPSTATE


# ==================== Purge & Cleaning ====================

[gcode_macro GO_TO_PURGE]
description: Move toolhead to the purge area
gcode:
  {% set purge_x = params.purge_x|default(120)|float %}
  {% set purge_y = params.purge_y|default(5)|float %}
  {% set scrub_speed = params.scrub_speed|default(250)|float %}
  G90
  G1 X{purge_x} Y{purge_y} F{scrub_speed * 60}

[gcode_macro NOZZLE_SCRUB]
description: Scrub the nozzle on a silicone scrubber
gcode:
  {% set scrub_x_start = params.scrub_x_start|default(120)|float %}
  {% set scrub_x_end = params.scrub_x_end|default(90)|float %}
  {% set scrub_y = params.scrub_y|default(5)|float %}
  {% set scrub_speed = params.scrub_speed|default(250)|float %}
  {% set scrub_passes = params.scrub_passes|default(2)|int %}
  G90
  G1 X{scrub_x_start} Y{scrub_y} F{scrub_speed * 60}
  {% for i in range(scrub_passes) %}
    G1 X{scrub_x_end} F{scrub_speed * 60}
    G1 X{scrub_x_start} F{scrub_speed * 60}
  {% endfor %}
  G91
  G1 X-15 F{scrub_speed * 90}
  G90
